Source: borgmatic
Maintainer: Cris van Pelt <cris@melkfl.es>
Section: misc
Priority: optional
Standards-Version: 3.9.2
X-Python3-Version: >= 3.4
Build-Depends: debhelper (>= 9), python3 (>= 3.3.2-2~), dh-python (>= 3), python3-pytest, python3-flexmock, python3-pykwalify (>=1.6.0), python3-ruamel.yaml, python3-setuptools


Package: borgmatic
Architecture: any
Depends: ${python3:Depends} ${misc:Depends}
Description: A wrapper script for Borg backup that creates and prunes backups
 borgmatic (formerly atticmatic) is a simple Python wrapper script for the Borg
 backup software that initiates a backup, prunes any old backups according to a
 retention policy, and validates backups for consistency. The script supports
 specifying your settings in a declarative configuration file rather than having
 to put them all on the command-line, and handles common errors.
